<?xml version="1.0"?>
<config>
    <modules>
        <Trego_Filterproducts>
            <version>1.0.0</version>
        </Trego_Filterproducts>
    </modules>
    <frontend>
        <routers>
            <filterproducts>
                <use>standard</use>
                <args>
                    <module>Trego_Filterproducts</module>
                    <frontName>filterproducts</frontName>
                </args>
            </filterproducts>
        </routers>
        <layout>
            <updates>
                <filterproducts>
                    <file>filterproducts/filterproducts.xml</file>
                </filterproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<filterproducts>
				<use>admin</use>
				<args>
					<module>Trego_Filterproducts</module>
					<frontName>filterproducts</frontName>
				</args>
			</filterproducts>
        </routers>
    </admin>
    <adminhtml>
	   <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<filterproducts translate="title" module="filterproducts">
											<title>Filterproducts Configuration</title>
										</filterproducts>
									</children>
								</config>
							</children>
						</system>
						<Trego_Filterproducts>
							<title>Filterproducts Module</title>
							<sort_order>205</sort_order>
						</Trego_Filterproducts>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<filterproducts>
					<file>filterproducts.xml</file>
				</filterproducts>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <filterproducts>
                <class>Trego_Filterproducts_Model</class>
                <resourceModel>filterproducts_mysql4</resourceModel>
            </filterproducts>
            <filterproducts_mysql4>
                <class>Trego_Filterproducts_Model_Mysql4</class>
                <entities>
                    <filterproducts>
                        <table>filterproducts</table>
                    </filterproducts>
                </entities>
            </filterproducts_mysql4>
        </models>
        <resources>
            <filterproducts_setup>
                <setup>
                    <module>Trego_Filterproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filterproducts_setup>
            <filterproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filterproducts_write>
            <filterproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filterproducts_read>
        </resources>
        <blocks>
            <filterproducts>
                <class>Trego_Filterproducts_Block</class>
            </filterproducts>
        </blocks>
        <helpers>
            <filterproducts>
                <class>Trego_Filterproducts_Helper</class>
            </filterproducts>
        </helpers>
    </global>
	<default>
		<filterproducts>
			<bestseller>
				<active>1</active>
				<max_product>3</max_product>
				<title>Bestsellers</title>
			</bestseller>
			<featured>
				<active>1</active>
				<max_product>12</max_product>
                <menu>Featured</menu>
				<title>Fetured Products</title>
			</featured>
			<new>
				<active>1</active>
				<max_product>12</max_product>
                <menu>Latest</menu>
				<title>Latest Products</title>
			</new>
			<special>
				<active>1</active>
				<max_product>12</max_product>
                <menu>Specials</menu>
				<title>Special Products</title>
			</special>
		</filterproducts>
	</default>
</config>