<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Trego_Trego>
            <version>2.1.0</version>
        </Trego_Trego>
    </modules>
    <admin>
        <routers>
            <trego>
                <use>admin</use>
                <args>
                    <module>Trego_Trego</module>
                    <frontName>trego</frontName>
                </args>
            </trego>
        </routers>
    </admin>
    <global>
        <blocks>
            <trego>
                <class>Trego_Trego_Block</class>
            </trego>
        </blocks>
        <helpers>
            <trego>
                <class>Trego_Trego_Helper</class>
            </trego>
        </helpers>
        <models>
            <trego>
                <class>Trego_Trego_Model</class>
            </trego>
        </models>
    </global>
    <adminhtml>
        <events>                
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <trego>
                        <type>singleton</type>
                        <class>trego/observer</class>
                        <method>hookTo_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </trego>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <trego>
                        <type>singleton</type>
                        <class>trego/observer</class>
                        <method>hookTo_storeEdit</method>
                    </trego>
                </observers>
            </store_edit>
        </events>
    </adminhtml>
    <default>
        <trego_design>
            <colors>
                <color>#595959</color>
                <link_color>#797872</link_color>
                <link_hover_color>#4e4d49</link_hover_color>
                <button_bg_color>#535451</button_bg_color>
                <button_color>#ffffff</button_color>
                <button_hover_bg_color>#2f3538</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
                <button_active_bg_color>#2f3538</button_active_bg_color>
                <button_active_color>#ffffff</button_active_color>
                <label_new_bg_color>#2f3538</label_new_bg_color>
                <label_new_color>#ffffff</label_new_color>
                <label_sale_bg_color>#d04d49</label_sale_bg_color>
                <label_sale_color>#ffffff</label_sale_color>
                <price_color>#d64c35</price_color>
            </colors>
            <page>
                <bg_color>#f1f1f1</bg_color>
                <texture>0</texture>
            </page>
            <header>
                <search_color>#74736a</search_color>
                <search_hover_color>#74736a</search_hover_color>
                <search_border_color>#c5c5c5</search_border_color>
                <search_border_hover_color>#c5c5c5</search_border_hover_color>
            </header>
            <footer>
                <color>#595959</color>
                <link_color>#797872</link_color>
                <link_hover_color>#4e4d49</link_hover_color>
                <button_bg_color>#535451</button_bg_color>
                <button_color>#ffffff</button_color>
                <button_hover_bg_color>#2f3538</button_hover_bg_color>
                <button_hover_color>#ffffff</button_hover_color>
            </footer>
            <footer_top>
                <color>#595959</color>
                <link_color>#797872</link_color>
                <link_hover_color>#4e4d49</link_hover_color>
            </footer_top>
            <footer_bottom>
                <color>#595959</color>
                <link_color>#797872</link_color>
                <link_hover_color>#4e4d49</link_hover_color>
            </footer_bottom>
        </trego_design>
        <trego_settings>
            <header>
                <hide_on_mobile>0</hide_on_mobile>
                <mini_menu_on_laptop>1</mini_menu_on_laptop>
            </header>
            <category>
                <alternative_image>1</alternative_image>
                <right_sidebar>1</right_sidebar>
                <layered_nav>1</layered_nav>
                <aspect_ratio>1</aspect_ratio>
                <ratio_width>300</ratio_width>
                <ratio_height>300</ratio_height>
            </category>
            <category_grid>
                <hover_button>1</hover_button>
                <hover_effect>0</hover_effect>
                <ratings>1</ratings>
            </category_grid>
            <category_list>
                <hover_effect>0</hover_effect>
            </category_list>
            <product_label>
                <new>1</new>
                <sale>1</sale>
            </product_label>
            <product_view>
                <related_checkbox>0</related_checkbox>
                <ratio_width>800</ratio_width>
                <ratio_height>1000</ratio_height>
            </product_view>
            <footer>
                <copyrights>2013 Trego. All Rights reserved.</copyrights>
                <newsletter>1</newsletter>
            </footer>
            <custom_settings>
                <custom_css>1</custom_css>
            </custom_settings>
            <install>
                <overwrite_blocks>0</overwrite_blocks>
                <overwrite_pages>1</overwrite_pages>
            </install>
        </trego_settings>
    </default>
</config>