<?xml version="1.0"?>
<config>
    <modules>
        <Trego_Socialicons>
            <version>1.0.0</version>
        </Trego_Socialicons>
    </modules>
    <global>
        <helpers>
            <socialicons>
                <class>Trego_Socialicons_Helper</class>
            </socialicons>
        </helpers>
    </global>
    <default>
        <socialicons>
            <general>
                <enabled>1</enabled>
            </general>
            <options>
                <facebook_visible>1</facebook_visible>
                <facebook_url>http://www.facebook.com</facebook_url>
                <facebook_sortorder>1</facebook_sortorder>
                <twitter_visible>1</twitter_visible>
                <twitter_url>http://www.twitter.com</twitter_url>
                <twitter_sortorder>2</twitter_sortorder>
                <linkedin_visible>1</linkedin_visible>
                <linkedin_url>http://www.linkedin.com</linkedin_url>
                <linkedin_sortorder>3</linkedin_sortorder>
                <instagram_visible>1</instagram_visible>
                <instagram_url>http://www.instagram.com</instagram_url>
                <instagram_sortorder>4</instagram_sortorder>
                <googleplus_visible>1</googleplus_visible>
                <googleplus_url>http://plus.google.com</googleplus_url>
                <googleplus_sortorder>5</googleplus_sortorder>
            </options>
        </socialicons>
    </default>
</config>
