<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Weiss_OrderAttribute>
            <version>1.1.0</version>
        </Weiss_OrderAttribute>
    </modules>
    <global>
        <!-- Declaration du helper -->
        <helpers>
            <orderattribute>
                <class>Weiss_OrderAttribute_Helper</class>
            </orderattribute>
        </helpers>
        <!-- Connexion a la base de donnees -->
        <resources>
            <orderattribute_setup>
                <setup>
                    <module>Weiss_OrderAttribute</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection><use>core_setup</use></connection>
            </orderattribute_setup>
        </resources>
    </global>
</config>