<?xml version="1.0"?>
<config>
    <modules>
        <Trego_Slidermenu>
            <version>1.0.0</version>
        </Trego_Slidermenu>
    </modules>
    <global>
        <helpers>
            <slidermenu>
                <class>Trego_Slidermenu_Helper</class>
            </slidermenu>
        </helpers>
        <models>
            <slidermenu>
                <class>Trego_Slidermenu_Model</class>
            </slidermenu>   
        </models>
    </global>
    <default>
        <slidermenu>
            <slider>
                <slider_enabled>1</slider_enabled>
                <slider_type>0</slider_type>
                <cms_blockid1>home_slider_1</cms_blockid1>
                <cms_blockid2>home_slider_2</cms_blockid2>
                <cms_blockid3>home_slider_3</cms_blockid3>
                <cms_blockid4>home_slider_4</cms_blockid4>
                <cms_blockid5>home_slider_5</cms_blockid5>
                <cms_blockid6>home_slider_6</cms_blockid6>
                <option_auto>1</option_auto>
                <option_pause>4000</option_pause>
                <option_autostart>1</option_autostart>
                <option_autohover>0</option_autohover>
                <option_speed>1000</option_speed>
                <rs_option_delay>11000</rs_option_delay>
                <rs_option_onhoverstop>0</rs_option_onhoverstop>
            </slider>
            <menu>
                <menu_enabled>1</menu_enabled>
                <menu_type>0</menu_type>
                <show_level>3</show_level>
                <show_column>4</show_column>
                <show_custom_menu>1</show_custom_menu>
                <custom_block_id>custom_menu</custom_block_id>
            </menu>
        </slidermenu>
    </default>
</config>
