<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magebright_Multicoupons>
            <version>0.1.0</version>
        </Magebright_Multicoupons>
    </modules>
  <frontend>
		<translate>
            <modules>
                <Magebright_Multicoupons>
                    <files>
                        <default>Magebright_Multicoupons.csv</default>
                    </files>
                </Magebright_Multicoupons>
            </modules>
        </translate>
        <routers>
            <multicoupons>
                <use>standard</use>
                <args>
                    <module>Magebright_Multicoupons</module>
                    <frontName>multicoupon</frontName>
                </args>
            </multicoupons>
        </routers>
        <layout>
            <updates>
                <multicoupons>
                    <file>multicoupons.xml</file>
                </multicoupons>
            </updates>
        </layout>
    </frontend>
    <admin>
            <routers>
                <multicoupons>
                    <use>admin</use>
                    <args>
                        <module>Magebright_Multicoupons</module>
                        <frontName>multicoupons</frontName>
                    </args>
                </multicoupons>
            </routers>
        </admin>
    
    <adminhtml>
       <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <multicoupons translate="title" module="multicoupons">
                                            <title>Multiple Coupons</title>
                                        </multicoupons>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
    </adminhtml>

    <global> 
    	<helpers>
            <multicoupons>
                <class>Magebright_Multicoupons_Helper</class>
        	</multicoupons>
        </helpers>     
        <models>
            <multicoupons>
                <class>Magebright_Multicoupons_Model</class>
                <resourceModel>multicoupons_mysql4</resourceModel>
            </multicoupons>
            <sales>
                <rewrite>
                <!-- <quote>Magebright_Multicoupons_Model_Sales_Quote</quote>-->
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <validator>Magebright_Multicoupons_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
            <salesrule_mysql4>
                <rewrite>
                    <rule_collection>Magebright_Multicoupons_Model_SalesRule_Mysql4_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_mysql4>
        </models>
		<resources>
             <multicoupons_setup>
                <setup>
                    <module>Magebright_Multicoupons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multicoupons_setup>
		    <multicoupons_write>
		        <connection><use>core_write</use></connection>
		    </multicoupons_write>
		    <multicoupons_read>
		        <connection><use>core_read</use></connection>
		    </multicoupons_read>
		</resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <multicoupons>
                        <class>multicoupons/observer</class>
                        <method>manageSalesOrder</method>
                    </multicoupons>
                </observers>
            </sales_order_place_after>
            <salesrule_validator_process>
                <observers>
                    <multicoupons>
                        <type>singleton</type>
                        <class>multicoupons/observer</class>
                        <method>manageSalesruleValid</method>
                    </multicoupons>
                </observers>
            </salesrule_validator_process>              
        </events>  
         <blocks>
            <multicoupons>
                <class>Magebright_Multicoupons_Block</class>
            </multicoupons>
            
            <checkout>
                <rewrite>
                    <cart_coupon>Magebright_Multicoupons_Block_Cart_Coupon</cart_coupon>
                </rewrite>
            </checkout>
        </blocks>
          
    </global>
</config>