<?xml version="1.0"?>
<config>
    <modules>
        <QuBit_UniversalVariable>
            <version>1.0.23</version>
        </QuBit_UniversalVariable>
    </modules>

    <global>
        <models>
            <qubituv>
                <class>QuBit_UniversalVariable_Model</class>
            </qubituv>
        </models>
        <helpers>
            <qubituv>
                <class>QuBit_UniversalVariable_Helper</class>
            </qubituv>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <qubit_universal_variable>
                    <file>qubit/uv.xml</file>
                </qubit_universal_variable>
            </updates>
        </layout>
        <translate>
            <modules>
                <QuBit_UniversalVariable>
                    <files>
                        <default>QuBit_UniversalVariable.csv</default>
                    </files>
                </QuBit_UniversalVariable>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <qubituv_process_listing_data>
                        <class>qubituv/observer</class>
                        <method>processListingData</method>
                    </qubituv_process_listing_data>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>

    <default>
        <qubituv>
            <settings>
                <enabled>1</enabled>
            </settings>
            <opentag>
                <enabled>1</enabled>
                <container_id></container_id>
                <async>1</async>
            </opentag>
            <advanced>
                <show_product_id>0</show_product_id>
                <show_stock_info>0</show_stock_info>
                <show_user_id>0</show_user_id>
                <category_product_list_block>product_list</category_product_list_block>
                <search_product_list_block>search_result_list</search_product_list_block>
            </advanced>
        </qubituv>
    </default>
</config>