<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Trego_Rememberme>
			<version>1.0.0</version>
		</Trego_Rememberme>
	</modules>
	<global>
		<blocks>
		</blocks>
		<helpers>
		</helpers>
		<models>
			<trego_rememberme>
				<class>Trego_Rememberme_Model</class>
			</trego_rememberme>
			<core>
				<rewrite>
					<cookie>Trego_Rememberme_Model_Cookie</cookie>
				</rewrite>
			</core>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<rememberme>
					<file>rememberme.xml</file>
				</rememberme>
			</updates>
		</layout>
		<events>
			<customer_login>
				<observers>
					<trego_rememberme>
						<class>trego_rememberme/cookie</class>
						<method>setSessionRemembrance</method>
					</trego_rememberme>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<trego_rememberme>
						<class>trego_rememberme/cookie</class>
						<method>unsetSessionRemembrance</method>
					</trego_rememberme>
				</observers>
			</customer_logout>
		</events>
		<translate>
			<modules>
				<Trego_Rememberme>
					<files>
						<default>Trego_Rememberme.csv</default>
					</files>
				</Trego_Rememberme>
			</modules>
		</translate>
	</frontend>
</config>
